.post {
  border: 1px solid black;
  width: 60%;
  display: flex;
  cursor: pointer;
}
.post img {
  width: 150px;
  height: 150px;
}
.bor {
  border: 1px solid black;
}
.author {
  font-weight: 700 !important;
  color: rgb(33, 0, 0);
  font-size: 16px !important;
  cursor: pointer;
}
.date {
  color: rgb(115, 117, 120);
  margin-left: 50px !important;
}
.image {
  cursor: pointer;
  width: 100%;
}

.title {
  color: rgb(33, 0, 0);
  font-size: 30px !important;
  font-weight: 700 !important;
  text-align: left;
  line-height: 28px;
  cursor: pointer;
  line-height: 34px;
}
.title:hover {
  color: rgb(77, 77, 79);
}

@media (max-width: 600px) {
  .title {
    font-size: 24px !important;
    margin-top: 10px !important;
    text-align: center;
  }
  .author {
    margin-left: 50px !important;
  }
}

@media (max-width: 450px) {
  .image {
    width: 100%;
  }
  .author {
    margin-left: 40px !important;
  }
}
